.wraper {
    margin: 0 auto;
    max-width: 1012px;
    padding: 0 16px;
    box-sizing: border-box;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link-container {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}